/* página */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body, html {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  min-height:100vh;
}
.text-box {
  max-width: 700px;
  margin: 15px auto;
}

/* Navbar */
nav {
  background: #333;
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 25px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a:hover {
  background: #e6b800;
  transition: .5s;
}
.checkbtn {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 1050px) {
  label.logo {
    padding-left: 30px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

/* Navbar responsive*/
@media (max-width: 935px) {
  .checkbtn {
    display: block;
  }

  label.logo {
    font-size: 22px;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #e6b800;
  }
  #check:checked~ul {
    left: 0;
  }
}
 
/* Banner Principal */
.banner {
  background-image: url("imagenes/cover-img.jpg"); /* Imagen de fondo */
  background-size: cover;
  color: #ffffff;
  padding: 250px 20px 50px 20px;
  text-align: center;
}
.banner h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #ffffff;
}
.banner p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

/* botones */
.btn-primary {
  padding: 10px 20px;
  background-color: #ffcc00;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #e6b800;
}
.btn-secondary {
  padding: 10px 20px;
  background-color: #ffcc00;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: #e6b800;
} 
.btn-third {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fafafa;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
}
.btn-third:hover {
  background-color: #a20000;
}

/* Catálogo de Productos */
.catalogo {
  padding: 40px 20px;
  text-align: center;
  background-color: #fff;
}
.catalogo h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;

}
@media (min-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Productos */
.product {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  align-content: flex-end;
}
.product img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}
.product h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.product .price {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}
.product .btn-primary {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}
.product .btn-primary:hover {
  background-color: #555;
}
.inventario {
  min-height: calc(100vh - 180px);
}

/* Pie de Página */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
footer ul {
  list-style: none;
  margin-top: 10px;
}
footer ul li {
  display: inline;
  margin: 0 10px;
}
footer ul li a {
  color: #fff;
  text-decoration: none;
}
footer ul li a:hover {
  color: #ffcc00;
}

/* Tabla */
.tablaInventario {
  margin: 20px auto;
  width: 100%;
  max-width: 700px;
  text-align: left;
}
.tablaInventario td, .tablaInventario th {
  padding: 8px;
}
.tablaInventario .leftClumn {
  text-align: center;
}

/*Imágenes */
.product img {
transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto suave de transición */
width: 100%; /* Asegura que la imagen ocupe todo el contenedor */
height: auto;
}

.product:hover img {
transform: scale(1.1); /* Aumenta el tamaño de la imagen */
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
}


/* Formulario */
.form-container {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.242);
  box-sizing: border-box;
}
.form-container input,.form-container textarea {
  width: 99%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #b9b9b9;
  margin-bottom: 20px;
}
.form-container form{
  margin: 0 auto;
  padding: 20px;
}
.form-container label {
  font-weight: bold;
}

/* Respuesta de acciones */
.pg-respuesta{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(199, 255, 199);
}
.respuesta {
  width: 400px;
  padding: 40px 20px;
  text-align: center;
  background-color: rgb(255, 249, 241);
  border-radius: 8px;
  box-shadow:0px 10px 8px rgb(98, 98, 98);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Modal modificar producto */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  margin: 10% auto;
  text-align: center;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Estilos para el Widget de Clima */
.weather-widget {
  padding: 20px;
  text-align: center;
  max-width: 400px;
  margin: 50px auto;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid #e6e6e6;
}
.widget-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #444;
}
.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location {
  margin-bottom: 20px;
}
.city-name {
  font-size: 22px;
  margin: 0;
  color: #222;
}
.description {
  font-size: 16px;
  color: #666;
}
.weather-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.temperature {
  font-size: 36px;
  font-weight: bold;
  color: #ff6600;
}
.weather-icon img {
  width: 50px;
  height: 50px;
}
@media (max-width: 480px) {
  .weather-widget {
      padding: 15px;
  }
  .widget-title {
      font-size: 20px;
  }
  .temperature {
      font-size: 30px;
  }
  .weather-icon img {
      width: 40px;
      height: 40px;
  }
}
#map {
  height: 500px;
  max-width: 700px; 
  margin: 0 auto;
}
